<h1>Analyte Group</h1>
<%= link_to 'All Groups', analyte_groups_path %>

<h2><%= @group.name %></h2>
<h3>Default Weights</h3>
<section>
	<% @group.default_weights.each do |weight| %>
		<ul>
			<li><%= weight.to_s %></li>
		</ul>
	<% end %>
</section>

<h3>Rules</h3>
<ul id='group-rules'>
	<% @rules.each do |rule| %>
		<li><%= render rule %></li>
	<% end %>
</ul>

<%= link_to 'Edit', edit_analyte_group_path( @group ) %>
<%= link_to 'Delete', @group, method: :delete,
	confirm: "Are you sure you want to delete this Analyte Group?" %>
