<%= form_for @recommendation do |f| %>
	<%= render 'shared/form_errors', object: f.object %>
	<%= hidden_field_tag :hidden %>
	<section>
		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.label :active %>
		<%= f.check_box :active %>

		<% unless @recommendation.new_record? %>
			<%= f.label :archived, 'Archive' %>
			<%= f.check_box :archived %>
		<% end %>
	</section>
	
	<section>
		<%= f.label :priority %>
		<%= f.text_field :priority %>
	</section>
	
	<section>
		<%= f.label :severity %>
		<%= f.text_field :severity %>
	</section>
	
	<section>
		<%= f.label :summary %>
		<%= f.text_area :summary %>
	</section>
	
	<section>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</section>

	<section>
		<%= f.label :triggers %>	
		<% @recommendation.triggers.each do |trigger| %> 
			<%= text_field_tag 'triggers[]', trigger,
				disabled: ( @recommendation.new_record? ? false : true ) %>
			<% end %>
		<%= f.submit( name: :add_trigger, value: 'Add Trigger' ) if
			@recommendation.new_record? %>
	</section>

	<section>
		<%= f.submit %>
	</section>
<% end %>
