<h1>Analytes</h1>

<ul id="analytes">
	<% @analytes.each do |analyte| %>		
		<li class="analyte">
			<span class="analyte-name"><%= analyte.name %></span>
			<span class="analyte-actions">
				<%= link_to 'Delete', analyte, method: :delete %>
			</span>
		</li>
	<% end %>
</ul>

<div>
	<%= form_for @new_analyte do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name%>

		<%= f.submit %>
	<% end %>
</div>

