<h1>Terms of Use</h1>
<%= render 'shared/flash' %>

<div style="height: 20em; width: 50em; overflow-y: scroll;">
	<p>
		Measuring Wellness, LLC is a service provider that offers analysis 
			of blood chemistry for wellness monitoring and does not 
			guarantee a state of health. 
		Results provided to you are for informational purposes only and 
			not intended to replace the care of a medical practitioner. 
		We do not diagnose, treat or cure medical conditions. 
		Measuring Wellness, LLC does not replace the care of a medical 
			practitioner or counselor and does not recommend 
			self-diagnosis or self-medication. 
	</p>
	<p>
		There is always a small possibility of an error or failure in 
			laboratory testing. 
		This is inherent to complex testing in any laboratory. 
		Extensive measures are taken to avoid these errors. 
	</p>
	<p>
		Measuring Wellness shall not be liable to you or anyone else 
			for loss or injury caused in whole or part by procuring, 
			compiling, interpreting, delivering, or reporting information 
			through this website. 
		Also, in no event shall Measuring Wellness be held liable to you 
			or anyone else for any decisions made or action taken or not 
			taken by you in reliance on such information. 
	</p>
	<section class='terms'>
		<h2>Terms and Conditions</h2>
		<p>
			By visiting or shopping at this web site, you accept the following terms 
				and conditions. Please read them carefully.
		</p>

		<h3>Copyright</h3>
		<p>
			All content included on this site, such as text, graphics, 
				logos, button icons, images, audio clips, digital downloads, 
				data compilations, and software, is the property of this site's 
				owner or its content suppliers and protected by United States 
				and international copyright laws. 
			The compilation of all content on this site is the exclusive property of 
				this site's owner and protected by U.S. and international copyright laws. 
			All software used on this site is the property of this site's 
				owner or its software suppliers and protected by United States 
				and international copyright laws.
		</p>

		<h3>Disclaimer of Warranties and Limitation of Liability</h3>
		<p>
			THIS SITE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. 
			NO REPRESENTATIONS OR WARRANTIES OF ANY KIND ARE MADE, 
				EXPRESS OR IMPLIED, AS TO THE OPERATION OF THIS SITE OR 
				THE INFORMATION, CONTENT, MATERIALS, OR 
				PRODUCTS INCLUDED ON THIS SITE. 
				YOU EXPRESSLY AGREE THAT YOUR USE OF THIS SITE IS AT YOUR SOLE RISK.
		</p>
		<p>
			TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, 
				THIS SITE'S OWNER DISCLAIMS ALL WARRANTIES, 
				EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, 
				IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS 
				FOR A PARTICULAR PURPOSE. 
			THIS SITE'S OWNER DOES NOT WARRANT THAT THIS SITE, ITS SERVERS, 
				OR E-MAIL SENT FROM THIS SITE ARE FREE OF VIRUSES 
				OR OTHER HARMFUL COMPONENTS. 
			THIS SITE'S OWNER WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND 
				ARISING FROM THE USE OF THIS SITE, INCLUDING, 
				BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, 
				AND CONSEQUENTIAL DAMAGES.
		</p>
		<p>
			CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES 
				OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. 
			IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, 
				EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, 
				AND YOU MIGHT HAVE ADDITIONAL RIGHTS.
		</p>
		<p>
			While efforts are made to assure that the information provided 
				on the MeasuringWellness.com web site, press releases or 
				any other communication and all its subsidiary pages, 
				is correct and representative or real fact, this site, 
				and all its subsidiary pages, are not explicitly or implicitly 
				warranted or represented to be free of errors, omissions, or inaccuracies.  
				Use the information provided at this site entirely at your own risk.
		</p>
</div>

<%= form_for @user, url: { action: 'terms_of_use' } do |f| %>
	<section class='form-section'>
		<%= f.check_box :terms_of_use %>
		<%= f.label :terms_of_use, 'I agree to the terms of use' %>
	</section>

	<section class='form-section submit-form'>
		<%= f.submit 'Submit' %>
	</section>

<% end %>
