<%= form_tag signin_path do %>
	<%= render 'shared/flash' %>

	<section class='form-section'>
		<%= label_tag :email %>
		<%= text_field_tag :email %>
	</section>

	<section class='form-section'>
		<%= label_tag :password %>
		<%= password_field_tag :password %>
	</section>

	<section class='form-section submit-form'>
		<%= submit_tag 'Sign In' %>
	</section>

<% end %>
