<h1>Order a Test</h1>

<div id='instruction-container'>
	<%= render partial: 'instructions'%>
</div>

<div class='form-container'>
	<%= render 'shared/flash' %>
	<%= form_for @order do |f| %>
	<!--
		<section class='form-section'>
			<%= f.label :test_center_id, "Test Center" %>
			<%= f.select :test_center_id, [['Center 1', 0]] %>
		</section>
	-->
		<section class='form-section'>
			<%= f.label :promotion_code, 'Redemption Code' %>
			<%= f.text_field :promotion_code %>
		</section>

		<section class='form-section form-submit'>
			<%= f.submit 'Place Order' %>
		</section>

	<% end %>
</div>


