<div class="measure-summary-container container">
	<%
			# Initailize content
			performance_image_path = "performance_bucket.png"
			performance_content = "Whether you are a weekend warrior, an enthusiast, 
				an amateur, or a professional athlete, you’ll perform at your best."
			
			restoration_image_path = "restoration_bucket.png"
			restoration_content = "Everyone and everything ages.  
				How fast and how well you age is the question.  
				True anti-aging occurs from the inside out."
			
			longevity_image_path = "longevity_bucket.png"
			longevity_content = "Living healthy and living well is better 
				than just living long. Bodies are constructed to live both well and long!"

			productivity_image_path = "productivity_bucket.png"
			productivity_content = "Productivity at work is directly related to health, 
				wellness and balanced metabolism."

		# Initialize local variable for partial
		performance_bucket = { title: "Measuring Performance",
			content: performance_content, image: performance_image_path }
		restoration_bucket = { title: "Measuring Restoration",
			content: restoration_content, image: restoration_image_path	}
		longevity_bucket = { title: "Measuring Longevity",
			content: longevity_content, image: longevity_image_path	}
		productivity_bucket = { title: "Measuring Productivity",
			content: productivity_content, image: productivity_image_path }
%>	

	<%= render partial: 'measure_summary_bucket', locals: performance_bucket %>
	<%= render partial: 'measure_summary_bucket', locals: restoration_bucket %>
	<%= render partial: 'measure_summary_bucket', locals: longevity_bucket %>
	<%= render partial: 'measure_summary_bucket', locals: productivity_bucket %>

</div>

<div class='about-us'>
	<h1 class='title'>
		What We Do
	</h1>
	
	This will be a short blurb about us.
	It should be an interesting paragraph that highlights what is unique about 
		the measures and/or process.
	It should entice the reader to learn more about the process and delve deeper 
		into the site.
</div>

<div class="homeostasis-summary-module container">
	<h1 class="title">
		What We Measure
	</h1>
	
	<%
		# Initialize content
		ph_image_path = "ph_balance.png"
		ph_content = "pH balance is important"

		aerobic_image_path = "aerobic_metabolism.png"
		aerobic_content = "aerobic meatabolism is important"

		calcium_phosphate_image_path = "calcium_phosphate_balance.png"
		calcium_phosphate_content = "calcium phosphate balcance is important"

		protein_image_path = "protein_metabolism.png"
		protein_content = "protein content is important"

		inflammation_image_path = "inflammation.png"
		inflammation_content = "healthy inflamation is important"

		connective_tissue_image_path = "connective_tissue_integrity.png"
		connective_tissue_content = "connective tissue integrity is important"

		oxidative_stress_image_path = "oxidative_stress.png"
		oxidative_stress_content = "oxidative stress control is important"
	
		# Initialize local variables for partial
		ph_homeostasis = { title: "Acid/Base Balance",
			content: ph_content, image: ph_image_path }
		aerobic_homeostasis = { title: "Aerobic Metabolism",
	 		content: aerobic_content, image: aerobic_image_path }
		calcium_phosphate_homeostasis = { title: "Calcium/Phosphate Balance",
			content: calcium_phosphate_content, image: calcium_phosphate_image_path }
		protein_homeostasis = { title: "Protein Metabolism", 
			content: protein_content, image: protein_image_path	}
		inflammation_homeostasis = { title: "Healthy Inflammation",
			content: inflammation_content, image: inflammation_image_path }
		connective_tissue_homeostasis = { title: "Connective Tissue Integrity",
			content: connective_tissue_content, image: connective_tissue_image_path	}
		oxidative_stress_homeostasis = { title: "Oxidative Stress Control",
			content: oxidative_stress_content, image: oxidative_stress_image_path	}

		homeostasis_summaries = [ph_homeostasis, aerobic_homeostasis, 
			calcium_phosphate_homeostasis, protein_homeostasis, inflammation_homeostasis, 
			connective_tissue_homeostasis, oxidative_stress_homeostasis]
	
	%>

	<div class="homeostasis-summary-container">
		<% homeostasis_summaries.each do |locals|%>
			<%= render partial: 'homeostasis_summary_bucket', locals: locals %>
		<% end %>
	</div>

</div>

