<h1>Add Rule</h1>
<%= render 'shared/flash' %>

<%= form_tag controller: :rules, action: :create, method: :post  do %>
	<%= label_tag :analyte_group, 'Analyte Group' %>
	<%= select_tag :analyte_group, options_for_select( @groups, @selected_group ) %>

	<%= label_tag :analyte %>
	<%= select_tag :analyte, options_for_select( @analytes, @selected_analyte ) %>

	<%= label_tag :weight %>
	<%= text_field_tag :weight %>

	<h2>Partitions</h2>
	<table>
		<thead>
			<th>Severity</th>
			<th>Threshold</th>
			<th>Weight</th>
		</thead>
		<tbody>
			<% @rule.partitions.each do |part| %>
				<tr>
					<%= fields_for 'partitions', part, index: nil do |pf| %>
						<td><%= pf.text_field :severity %></td>
						<td><%= pf.text_field :threshold %></td>
						<td><%= pf.text_field :weight %></td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>

	<%= submit_tag 'Load Default', name: :load_default_partitions %>
	<%= submit_tag 'Add Partition', name: :add_partition %>

	<%= submit_tag 'Create Rule', name: :commit %>
<% end %>

<%= link_to 'Cancel', rules_path %>

