<h1>Rule</h1>
<%= link_to 'All Rules', rules_path %>

<div>
	<section>
		Analyte Group: 
		<%= link_to @rule.analyte_group.name, 
			analyte_group_path( @rule.analyte_group ) %>
	</section>
	<section>
		Analyte: 
		<%= link_to @rule.analyte.name, analyte_path( @rule.analyte ) %>
	</section>
	<section>
		Weight: <%= @rule.weight %>
	</section>
</div>

<h2>Partitions</h2>
<%= render partial: 'shared/partitions_table', object: @rule.partitions,
	as: :partitions %>

<%#= link_to 'Edit', edit_rule_path( @rule ) %>
<%= link_to 'Delete', @rule, method: :delete,
	confirm: "Are you sure you want to delete this rule?" %>

