<div class="<%= bucket_type %>-bucket bucket">
	<div class="bucket-image image-container container">
		<%= image_tag "bucket_images/" + image_path %>
	</div>
	<div class="bucket-content-container content-container container">
		<div class="bucket-title title">
			<%= title %>
		</div>
		<div class="bucket-content content">
			<%= content %>
		</div>
		<div class="bucket-link-container link-container container">
			<% link = "measures#" + title.delete(' ') %>
			<%= link_to "Learn More", link %>
		</div>
	</div>
</div>


